body, html {
    width: 100vw;
    height: 100vh;
  }

  .pageBody {
    justify-content: center;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .notAuthorizedBody {
    display: flex;
    flex-direction: column;
  }

  .giphy {
    width: 250px;
    border: none; 
  }

  .backBtn {
    margin: 20px;
    align-self: center;
    border-radius: 5px;
    border-color: white;
  }

  .deleteBtn {
    border-radius: 5px;
    background-color: transparent;
    color: darkgrey;
  }

  .table {
    margin: 20px;
  }

  .paginationNoScroll {
    overflow-y: hidden;
  }